#menu {
    height: 74px;
}

.container-product-page {
    height:  calc(100% - 180px);
    padding: 0 24px;
    
}
.col-description {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.col-product-name {
    min-width: 270px;
}


.group-control {
    display: flex;
    align-items: flex-end;
    
}